body{
	font-size: 16px;
	font-weight: 300;
	font-family: 'Lato', Calibri, Arial, sans-serif;
	line-height: 1.5;
}
h3{
	font-weight: 300;	
}
input[type="radio"],input[type="checkbox"]{
	margin: 0 4px;
}
#googleMap{
	background: #eee;
}
.fa{
	padding-right:10px; 
}
.loading{
	text-align: center;
}
.no-padding{
	padding: 0
}
.navbar{
	background: #2171B5;
	color:#fff;
	padding: 0 15px;
}
.navbar a{
	color:#fff;
	border-right: 1px solid transparent;
	border-left: 1px solid transparent;	
}
.nav>li>a {
	transition: all 0.3s linear;
}
.nav>li>a:focus, .nav>li>a:hover,.nav>li.active{
	background: #4292C6;
	border-right: 1px solid #2171B5;
	border-left: 1px solid #2171B5;	
}
.icon-bar{
	background: #fff;
}
.app-title{
	background: #2171B5;
	color: #fff;
	padding: 5px;
	text-align: center;
}
.app-title h3{
	padding: 0;
}
.app-features{
	padding: 40px 0;
}
input[type="text"]{
	width: 100%;
}
label{
	display: block;
}
.table>tbody>tr>td:first-child{
	border: 0;
}
.box{
	display: inline-block;
	width:120px;
	padding:10px 0;
	border: 1px #4292C6 solid;
	border-radius: 5px;
	margin: 10px 0;
	margin-right:15px; 
}
.box span{
	display: block;
}
.main-content{
	padding-top: 50px;
	min-height: 800px;
}

.hero,.about-hero,.team-hero{
	background-image: url(../images/team.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: scroll;
    background-size: cover;
    padding-top:150px;
}
.hero{
	background-image: url(../images/hero.jpg);	
}
.about-hero{
	background-image: url(../images/about.jpg);
}
.hero-text{
	padding: 50px;		
	background: rgba(255,255,255,0.6); 	
	text-align:center;
}
.team-members{
	margin-top:50px;
}
.team-members div{
	margin-top:30px; 
	margin-bottom:30px; 
}
.member-detail{
	display: inline-block;
	padding-left:20px;
	vertical-align: middle;
	text-align: center;
}
.profile-pic{
	border-radius: 50%;
	width: 100px;
}
.footer{	
	margin-top: 50px;
	width: 100%;
	background: #eee;
	padding: 15px 
}

.filter{
	margin-top:20px;
}
.btn{
 	background: #2171B5;
 	color:#fff;
 	transition: all 0.3s linear;
}
.btn:hover,.btn:active,.btn:focus{
	background: #4292C6;
	color:#fff;
}
.keyicon{
	padding-right: 5px
}
.popupWindow_main{
	font-size: 20px;
	font-weight: 300;
	font-family: 'Lato', Calibri, Arial, sans-serif;
	line-height: 1.5;
}