body{
	font-size: 16px;
	font-weight: 300;
	font-family: 'Lato', Calibri, Arial, sans-serif;
	line-height: 1.5;
}
h3{
	font-weight: 300;	
}
input[type="radio"],input[type="checkbox"]{
	margin: 0 4px;
}
.fa{
	padding-right:10px; 
}
.loading{
	text-align: center;
}
.no-padding{
	padding: 0
}
.navbar{
	background: #2171B5;
	color:#fff;
}
.navbar a{
	color:#fff;
	border-right: 1px solid transparent;
	border-left: 1px solid transparent;	
}
.nav>li>a {
	transition: all 0.3s linear;
}
.nav>li>a:focus, .nav>li>a:hover,.nav>li.active{
	background: #4292C6;
	border-right: 1px solid #2171B5;
	border-left: 1px solid #2171B5;	
}

.main-content{
	padding-top: 50px;
	min-height: 800px;
}

.hero,.about-hero,.team-hero{
	background-image: url(../images/team.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: scroll;
    background-size: cover;
    padding-top:150px;
}
.hero{
	background-image: url(../images/hero.jpg);
}
.about-hero{
	background-image: url(../images/about.jpg);
}
.hero-text{
	padding: 50px;		
	background: rgba(255,255,255,0.6); 	
	text-align:center;
}
.team-members{
	margin-top:50px;
}
.team-members .row{
	margin:50px 0; 
}
.member-detail{
	display: inline-block;
	padding-left:20px;
	vertical-align: middle;
	text-align: center;
}
.profile-pic{
	border-radius: 50%;
	width: 100px;
}
.footer{	
	margin-top: 50px;
	width: 100%;
	background: #eee;
	padding: 15px 
}

.filter{
	margin-top:20px;
}
.btn{
 	background: #2171B5;
 	color:#fff;
}
.btn:hover,.btn:active,.btn:focus{
	background: #4292C6;
	color:#fff;
}